body {
  background-color: pink;
}

.buttons,
#food-input,
#add-food
 {
  margin: 5px;
  border: 2px solid hotpink;
}

#food-input {

}

#food-div {
    display: inline-block;
}

#gif-buttons {
  margin-top: 20px;
}

.pic {
  margin-left: 5px;
  margin-right: 5px;
}

.rating {

}

#food-form {
  position: right: 200px;
}

#gif-container {

}
